@CHARSET "ISO-8859-1";
/* Styles go here */

body {
  font-family: 'Metrophobic', sans-serif;
  background-color: #FCFCFC;
}

.header{
	background-color:#efefef;
}

ul {
   list-style: none;
   margin-left: 0;
   padding-left: 1em;
   text-indent: -1em;
}

#menu_container{
	padding:0px 0px 0px 15px;
	color:#336E7B;
	border-left:1px solid #FCFCFC;
	font-size: small;
	border-left:2px solid #efefef;
	border-right:2px solid #efefef;
	height: 490px;
}

.content_container{
	width: 100%;
}


#dynamic_content{
	height: 450px;
}

.footer{
	background-color: #c0c0c0;
}