<div ng-controller="StockRootController" layout="column" class="md-inline-form">
      <md-toolbar>
         <div class="md-toolbar-tools">
           <h2>
              <span>Master > Stock</span>
            </h2>
          </div>
      </md-toolbar>
      <md-content layout-padding style="bg-color:#00b2b3">
      <div layout layout-sm="column">
      <md-input-container>
           <md-button class="md-icon-button" aria-label="Settings" ng-click="showAdd($event)">
             <md-icon class="fa fa-search" style="font-size:24px;color:rgb(63,81,181);"></md-icon>
         </md-button>
        </md-input-container>
        <md-input-container>
          <label>Goods Code</label>
          <input ng-model="user.firstName" disabled>
        </md-input-container>
        <md-input-container flex>
          <label>Goods Name</label>
          <input ng-model="theMax" disabled>
        </md-input-container>
      </div>
        <div layout layout-sm="column">
         <md-input-container class="md-block">
           <label>Quantity</label>
           <input ng-model="user.address">
        </md-input-container>
         <md-input-container class="md-block">
          <label>Max Quantity</label>
           <input ng-model="user.address">
        </md-input-container>
        </div>
        <div layout layout-sm="column" flex>
             <md-button class="md-raised md-primary button-custom">Set Stock</md-button>
           </md-button>
        </div>
        <br/>
         <div layout layout-sm="column">
       <div layout="row" flex  style="background-color:#e0e0d1;" layout-padding>
           <div flex>
             Goods Code
           </div>
           <div flex>
             Goods Name
           </div>
           <div flex hide-sm>
             Quantity
           </div>
           <div flex hide-sm>
             Max.Quantity
           </div>
           <div flex hide-sm>
             Action
           </div>
       </div>
      </div>
      <div layout layout-sm="column">
      <div layout="row" flex layout-padding style="border-bottom:1px solid #e0e0d1">
           <div flex>
             Goods Code
           </div>
           <div flex>
             Goods Name
           </div>
           <div flex hide-sm>
             Quantity
           </div>
           <div flex hide-sm>
              Max.Quantity
           </div>
            <div flex hide-sm>
            <md-button class="md-icon-button" aria-label="Settings" ng-click="showAdd($event)">
             <md-icon class="fa fa-remove" style="font-size:24px;color:rgb(63,81,181);"></md-icon>
           </md-button>
            <md-button class="md-icon-button" aria-label="Settings" ng-click="showAdd($event)">
             <md-icon class="fa fa-pencil" style="font-size:24px;color:rgb(63,81,181);"></md-icon>
         </md-button>
           </div>
       </div>
       </div> 
    </form>
  </md-content>
</div>