<div layout="column" ng-cloak>
 <md-content   class="simplebar">
<md-toolbar>
         <div class="md-toolbar-tools">
           <h2>
              <span>Setting > Menu</span>
            </h2>
          </div>
      </md-toolbar>
  <br/>
 <div layout-padding >
    <div layout="column" class="md-whiteframe-1dp">
           	<div layout="row">
  			   <div flex="90">
  				  <h2 class="md-subhead" >Menu List</h2>
  			   </div>
  			   <div>
  				 <md-button class="md-raised md-primary button-custom" >Add Menu</md-button>
  			   </div>
	       </div>
	       <br/>
           <div flex layout-padding class="md-whiteframe-6dp">
       	    <table class="table table-hover" style="width:100%;">
              <thead>
                <tr>
                 <th>
                  Label
                 </th>
                 <th>
                   Url
                 </th>
                 <th>
                  Parent
                 </th>
                 <th>
                   Active
                 </th>
                 <th>
                   Created Date
                 </th>
                 <th>
                   Created By
                 </th> 
                 <th>
                   Updated Date
                 </th>
                 <th>
                   Updated By
                 </th>
              </tr>
           </thead>
           <tbody>
             <tr>
             	 <td>
                  Label
                 </td>
                 <td>
                   Url
                 </td>
                 <td>
                  Parent
                 </td>
                 <td>
                   Active
                 </td>
                 <td>
                   Created Date
                 </td>
                 <td>
                   Created By
                 </td> 
                 <td>
                   Updated Date
                 </td>
                 <td>
                   Updated By
                 </td>
             </tr>
            </tbody>
       </table>
       		</div>
       </div>  
  </div>
  <br/>  
</md-content>
</div>