<div layout="column" ng-cloak>
 <md-content   class="simplebar">
<md-toolbar>
         <div class="md-toolbar-tools">
           <h2>
              <span>Master > Menu</span>
            </h2>
          </div>
      </md-toolbar>
  <br/>
 <div layout-padding >
 <md-data-table-toolbar style="background-color:#f0f0f0;" ng-controller="MasterMenuController">
  <h2 class="md-title">Menu</h2>
  <span flex></span>
  <md-button class="md-icon-button" aria-label="Settings" ng-click="showAdd($event)">
             <md-icon class="fa fa-plus" style="font-size:24px;color:rgb(63,81,181);"></md-icon>
        </md-button>
</md-data-table-toolbar>
 <md-data-table-container>
  <table md-data-table md-row-select="selected" md-progress="deferred"  ng-tablescroll="options">
    <thead md-order="query.order" md-trigger="onOrderChange" style="color:rgb(63,81,181);">
      <tr>
        <th name="Label"  order-by="name"></th>
        <th name="Relative Url" order-by="calories.value"></th>
        <th name="Parent"  order-by="fat.value"></th>
        <th name="Active"  order-by="carbs.value"></th>
        <th name="Created Date"  order-by="protein.value"></th>
        <th name="Created By" order-by="sodium.value"></th>
        <th name="Updated Date"  order-by="calcium.value"></th>
        <th name="Updated By"  order-by="iron.value"></th>
      </tr>
    </thead>
    <tbody>
      <tr md-auto-select ng-repeat="dessert in desserts.data">
        <td>xx</td>
        <td>xx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td show-unit>xx</td>
        <td show-unit>xxx</td>
      </tr>
    </tbody>
  </table>
  </md-data-table-container>
  </div>
  <br/>  
</md-content>
</div>