<md-dialog ng-init="retrieveAllMenu()">
    <div layout="column" class="md-inline-form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>Add New Menu</span>
            </div>
        </md-toolbar>
        <md-content layout-padding>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Label</label>
                    <input ng-model="label" placeholder="Label">
                </md-input-container>
                <md-input-container flex>
                    <label>Relative Url</label>
                    <input ng-model="relativeUrl" placeholder="Relative Url">
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Parent</label>
                    <md-select ng-model="parent">
                        <md-option ng-repeat="menu in menulist" ng-if="menu.parent == null" value="{{menu.menuId}}">
                            {{menu.label}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="md-actions" layout="row"> <span flex></span> 
                <md-button ng-click="closeDialog()"> Cancel </md-button>
                <md-button  class="md-primary" ng-click='addNewMenu()'> Save </md-button> 
            </div>
        </md-content>
    </div>
</md-dialog>