<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	
	<http use-expressions="true" create-session="stateless" entry-point-ref="securityEntryPoint" >
	   <custom-filter ref="restAuthenticationFilter" position="BASIC_AUTH_FILTER" />
	     <intercept-url pattern="/**" access="permitAll" />
	   <intercept-url pattern="/api/**" access="authenticated" />
	</http>

   <beans:bean id="restAuthenticationFilter" class="com.polsri.union.app.service.component.security.RestAuthenticationFilter">
      <beans:constructor-arg name="authenticationManager" ref="authenticationManager" />
   </beans:bean>
   
   <authentication-manager alias="authenticationManager">
      <authentication-provider ref="restAuthenticationProvider" />
   </authentication-manager>
   	
   <beans:bean id="securityEntryPoint" class="com.polsri.union.app.service.component.security.SecurityEntryPoint"/>
   <beans:bean id="restAuthenticationProvider" class="com.polsri.union.app.service.component.security.RestAuthenticationProvider"/>
	
</beans:beans>